@font-face {
  font-family: ivan;
  src: url("../fonts/charter-regular.otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: ivan;
  src: url("../fonts/charter-italic.otf");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: ivan;
  src: url("../fonts/charter-bold.otf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: ivan;
  src: url("../fonts/charter-bold-italic.otf");
  font-style: italic;
  font-weight: bold;
}

:root {
  font-size: 18px;
  --gray1: #212121;
  --gray2: #424242;
  --gray3: #616161;
}

body {
  color: var(--gray2);
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header a {
  color: var(--grey3);
  text-decoration: none;
}

header {
  font-size: 14px;
}

h1 {
  font-size: 60px;
  color: var(--gray1);
  /* margin-top: 64px;
  margin-bottom: 16px; */
  margin: 64px 10px 16px 10px;
}
/* h1 + p {
  margin-bottom: 64px;
} */

h2 {
  font-size: 32px;
  color: var(--gray1);
  margin: 64px 0 40px;
  font-weight: normal;
}

h3 {
  font-size: 24px;
  color: var(--gray2);
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: normal;
}

header a:hover {
  color: var(--gray1);
}

nav details summary {
  font-weight: bold;
}

pre {
  background: #fec62e;
  padding: 40px;
  font-family: "Roboto";
  line-height: 24px;
}

hr {
  color: var(--gray3);
  margin: 64px 0;
}

blockquote {
  margin: 32px 0;
  padding-left: 16px;
  line-height: 24px;
  font-size: 24px;
  border-left: 4px solid var(--gray1);
}

blockquote span {
  color: var(--gray3);
}

blockquote span::before {
  content: "-";
}

.main {
  border: 1px solid red;
}

.wrapper {
  width: 902px;
  margin: auto;
}
.section-content ul li {
  margin-bottom: 16px;
}

.section-content ol li {
  line-height: 24px;
}
.hero {
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.3),
      transparent
    ),
    url("../images/patron.png");
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  height: 350px;
}

.section-content {
  counter-reset: titleList;
}
.section-content h3 {
  counter-increment: titleList;
  padding-bottom: 4px;
}
.section-content h3::before {
  content: counter(titleList, decimal) ". ";
}

.section-content h3::after {
  content: "";
  width: 32px;
  height: 4px;
  background: var(--gray1);
  display: inline-block;
}

.section-content img {
  margin-top: 40px;
}

.section-content + hr {
  display: none;
}

.section-content {
  margin-top: 164px;
}

.section-content:first-of-type {
  margin: 0;
}
